@font-face {
   font-family: customFont;
   src: url(../../font/Tajawal-Regular.ttf);
   font-size: 20px;
}

@font-face {
   font-family: customFont;
   src: url(../../font/Tajawal-Bold.ttf);
   font-weight: bold;
}

* {
   font-family: customFont!important;
   /*font-size: 16px!important;*/
}
.material-icons {
    font-family: 'Material Icons' !important;
}


.header-table-list{
    width: 61%;
    display: inline-block;
}
.seach-list{
    width: 25%;
    display: inline-block;
}
.add-form{
    display: flex;
}
.add-img-icon{
    position: absolute;
    top: 2rem;
    left: 11rem;
    color:#75778e !important;
}
.add-img-icon span{
    font-size: 43px;
}
.navbar-expand-lg.navbar-transparent {
    background-color: #212121 !important;
    color: white;
}
.btn-search{
    background: unset;
    border: unset;
    box-shadow: unset;
}
.choose_file{
    display:inline-block;
    color: #7f7f7f;
}
.choose_file input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0; left:0;
    opacity:0;
}
.card-profile .card-avatar img {
    width: 100%;
    height: 150px !important;
}
.btn-edit,.btn-delete{
    border:unset;
    background: unset;
    box-shadow: unset!important;
    background-color: unset!important;
}
.cv-parent{
    justify-content: center;
    padding: 2rem 0rem;
}
.cv-loader{
    display:flex;
}
.bmd-label-floating{
    color: #ad220be3 !important;
    font-size: 14px !important;
}
.btn-print{
    background-color: transparent;
    box-shadow: none;
    color: #00aec5;
}
.material-icons{
    font-size:1.5rem;
}
.btn-print{
    background-color: transparent!important;
    box-shadow: none!important;
    color: #00aec5!important;
}
.material-icons{
    font-size:1.5rem!important;
}
.btn.btn-round {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: unset;
}
.card-stats .card-header.card-header-icon{
    min-height: 8rem;
}
.card-header .card-category{
    margin-top: 3rem!important;
}
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #1862bd;
}
.ps-container .ps-scrollbar-y-rail{
    right: 971.909px!important;
}
.sidebar-wrapper .ps-scrollbar-y-rail{
    right: 251px !important;
}
.fa{
    font-family: unset!important;
}

