.card{
	box-shadow: 10px 5px 5px #b5acac45;

}

.border-unset{
	border:unset!important;
}

.btn-post{

    margin: 1rem;
    box-shadow: 4px 4px 1px #d6c6c6;
    border-radius: 0.5px;

}

.btn-delete{
	    border: unset;
    background: unset;
}

.comment{
	border-radius: 3.25rem;
}

.docomment{
	border-radius: 3rem;
    border: 1px solid #b0baff;
}

.comment-body{
	    border: 1px solid #fafcff;
    box-shadow: 1px 5px 4px #d0dce8;
    border-radius: 0px 33px 33px 33px;
    background: #007bff0f;
}
